<%= form_for(@recebimento) do |f| %>
	
	<% if @recebimento.errors.any? %>
	<div id="error_explanation">

	<h2><%= pluralize(@recebimento.errors.count, "error") %> Não foi possível salvar esse recebimento:</h2>

	<ul>
	<% @recebimento.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
</div>
<% end %>

	<div class="field">
		<%= f.label :data %><br />
		<%= f.text_field :data_recebimento, :class => "text date_picker"%>
	</div><br/>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor_recebimento, :class => "text small" %>
  </div><br/>
  <div class="field">
  <%= f.label :descricao %><br />
  <%= f.text_area :descricao_recebimento%>
  </div>  <br/>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.select :tipo_de_recebimento_id, @tipo_de_recebimentos.collect{|t| [t.nome_do_tipo, t.id] }, :class => "styled"  %>
  </div><br/>
  <div class="field">
    <%= f.label :forma %><br />
  	<%= f.select :forma_de_recebimento_id, @forma_de_recebimentos.collect{|c| [c.nome_da_forma, c.id] }  %>
  </div><br/>
 
    <%= f.label :categoria%><br />
    <div class="cmf-skinned-select" style="width: 243px; height: 16px; background-color: rgb(221, 221, 221); color: rgb(0, 0, 0); font-size: 13px; font-family: Arial; font-style: normal; position: relative; ">
    <select class="styled" style="opacity: 0; position: relative; z-index: 100; ">
    <%= f.select :categoria_do_recebimento_id, @categoria_do_recebimentos.collect{|b| [b.nome_da_categoria, b.id] }, :class => "styled" %>
    </div>
     <div class="actions"><br/>
    <%= f.submit %>
  </div>
<% end %>



