<%= form_for(@recebimento) do |f| %>
  <% if @recebimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recebimento.errors.count, "error") %> prohibited this recebimento from being saved:</h2>

      <ul>
      <% @recebimento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data_recebimento %>
  </div><br/>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor_recebimento %>
  </div><br/>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao_recebimento %>
  </div><br/>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.select :tipo_de_recebimento_id, @tipo_de_recebimentos.collect{|t| [t.nome_do_tipo, t.id] }  %>
  </div><br/>
  <div class="field">
    <%= f.label :forma %><br />
  	<%= f.select :forma_de_recebimento_id, @forma_de_recebimentos.collect{|c| [c.nome_da_forma, c.id] }  %>
  </div><br/>
  <div class="field">
    <%= f.label :categoria%><br />
    <%= f.select :categoria_do_recebimento_id, @categoria_do_recebimentos.collect{|b| [b.nome_da_categoria, b.id] }  %>
  </div>
 <!--  <div class="field">
    <%= f.label :categoria_do_recebimento_id %><br />
    <%= f.text_field :categoria_do_recebimento_id %>
    
  </div> --><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
