<% content_for :conteudo do %>

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	<h2>Lista de Contas Recebidas</h2>
	</div>

<div class="block_content">
	<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
	
	<div class="tableactions">
<%= link_to 'Cadastrar Recebimento', new_recebimento_path %>
</div>

	  <tr>
	  <th></th>
		<th>Data</th>
		<th>Valor(R$)</th>
		<th>Tipo</th>
		<th>Forma</th>
		<th>Categoria</th>

	  </tr>

	<% @recebimentos.each do |recebimento| %>
	  <tr>
	  <td width="30px"><input type="checkbox" /></td> 
		<td><%= l recebimento.data_recebimento %></td>
		<td><%= recebimento.valor_recebimento %></td>
		<td><%= recebimento.tipo_de_recebimento.nome_do_tipo %></td>
		<td><%= recebimento.forma_de_recebimento.nome_da_forma %></td>
		<td><%= recebimento.categoria_do_recebimento.nome_da_categoria %></td>
		

		<td><%= link_to 'Visualizar', recebimento %></td>
		<td><%= link_to 'Editar', edit_recebimento_path(recebimento) %></td>
		<td><%= link_to 'Deletar', recebimento, :confirm => 'Are you sure?', :method => :delete %></td>

	  </tr>

	<% end %>

		<tr>
			<td colspan="2"><b>Valor Acumulado</b></td>  
			<% @total = Recebimento.sum (:valor_recebimento) %>
			<td align='right'><b>   <%=h @total %> </b></td>  
			</tr>
</table>



<div class="pagination right">
</div>


</div>

<div class="bendl"></div>

	<div class="bendr"></div>

	</div>



<% end %>

