<h1>Lista de Contas Recebidas</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Tipo</th>
    <th>Forma</th>
    <th>Categoria</th>
   
  </tr>

<% @recebimentos.each do |recebimento| %>
  <tr>
    <td><%= recebimento.data_recebimento %></td>
    <td><%= recebimento.valor_recebimento %></td>
    <td><%= recebimento.tipo_de_recebimento.nome_do_tipo %></td>
    <td><%= recebimento.forma_de_recebimento.nome_da_forma %></td>
    <td><%= recebimento.categoria_do_recebimento.nome_da_categoria %></td>
    <td><%= link_to 'Show', recebimento %></td>
    <td><%= link_to 'Edit', edit_recebimento_path(recebimento) %></td>
    <td><%= link_to 'Destroy', recebimento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recebimento', new_recebimento_path %>
