<p id="notice"><%= notice %></p>

<p>
  <b>Data recebimento:</b>
  <%= @recebimento.data_recebimento %>
</p>

<p>
  <b>Valor recebimento:</b>
  <%= @recebimento.valor_recebimento %>
</p>

<p>
  <b>Descricao recebimento:</b>
  <%= @recebimento.descricao_recebimento %>
</p>

<p>
  <b>Usuario:</b>
  <%= @recebimento.usuario %>
</p>

<p>
  <b>Tipo de recebimento:</b>
  <%= @recebimento.tipo_de_recebimento %>
</p>

<p>
  <b>Forma de recebimento:</b>
  <%= @recebimento.forma_de_recebimento %>
</p>

<p>
  <b>Categoria do recebimento:</b>
  <%= @recebimento.categoria_do_recebimento %>
</p>


<%= link_to 'Edit', edit_recebimento_path(@recebimento) %> |
<%= link_to 'Back', recebimentos_path %>
