<p id="notice"><%= notice %></p>

<h1>Resumo do Recebimento</h1>

<table width="50%">

<th>Data</th>
<th>Valor</th>
<th>Descrição</th>
<th>Tipo</th>
<th>Forma</th> 
<th>Categoria</th>

<tr>


<td><%= @recebimento.data_recebimento %></td>

<td><%= @recebimento.valor_recebimento %></td>

<td><%= @recebimento.descricao_recebimento%></td>

<td><%= @recebimento.tipo_de_recebimento.nome_do_tipo %></td>

<td><%= @recebimento.forma_de_recebimento.nome_da_forma %></td>

<td><%= @recebimento.categoria_do_recebimento.nome_da_categoria %></td>
</tr>

</table>



<%= link_to 'Edit', edit_recebimento_path(@recebimento) %> |
<%= link_to 'Back', recebimentos_path %>
