<p id="notice"><%= notice %></p>

<h1>Resumo do Recebimento</h1>

<table>
	<tr>
	  <th>Data</th> <td><%= @recebimento.data_recebimento %></td>
	</tr>
	<tr>
	  <th>Valor</th> <td><%= @recebimento.valor_recebimento %></td>
	</tr>  
	<tr>  
	  <th>Descrição</th> <td><%= @recebimento.descricao_recebimento%></td>
	</tr>  
	<tr>  
	  <th>Tipo</th>  <td><%= @recebimento.tipo_de_recebimento.nome_do_tipo %></td>
	</tr>  
	<tr>
	  <th>Forma</th> <td><%= @recebimento.forma_de_recebimento.nome_da_forma %></td>
	</tr>  
  	<tr>
  	  <th>Categoria</th><td><%= @recebimento.categoria_do_recebimento.nome_da_categoria %></td>
  	</tr>  
</table>



<%= link_to 'Edit', edit_recebimento_path(@recebimento) %> |
<%= link_to 'Back', recebimentos_path %>
