<%= form_for(@tipo_do_pagamento) do |f| %>

	<% if @tipo_do_pagamento.errors.any? %>
		<div class="message errormsg" style="display: block; ">
		Não foi possível salvar esse tipo de pagamento</p><br/><br/>
		<% @tipo_do_pagamento.errors.full_messages.each do |msg| %>
		<ul>
		<li><%= msg %></li>
		</ul>
		<% end %>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :nome_do_tipo %><br />
		<%= f.text_field :nome_do_tipo, :class => "text small"  %>
	</div><br/>
	
	<div class="field">
		<%= f.label :descricao_do_tipo %><br />
		<%= f.text_field :descricao_do_tipo, :class => "text small"  %>
	</div><br/>
		<%= f.submit 'Cadastrar', :class => 'submit mid' %>
<% end %>

