<%= form_for(@tipo_do_pagamento) do |f| %>
  <% if @tipo_do_pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_do_pagamento.errors.count, "error") %> prohibited this tipo_do_pagamento from being saved:</h2>

      <ul>
      <% @tipo_do_pagamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_do_tipo %><br />
    <%= f.text_field :nome_do_tipo, :class => "text small"  %>
  </div>
  <div class="field">
    <%= f.label :descricao_do_tipo %><br />
    <%= f.text_field :descricao_do_tipo, :class => "text small"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

