

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Lista de Metodos de Pagamentos</h2>
		<div class="tableactions" style="text-align: center">
		<%= link_to image_tag('icones/Add.png', :title => "Cadastrar"), new_metodo_de_pagamento_path %>
		</div>'
 </div>

<div class="block_content">
<table cellpadding="0" cellspacing="0" width="100%" class="sortable">

  <tr>
    <th>Nome</th>
    <th>Descrição</th>

  </tr>

<% @metodo_de_pagamentos.each do |metodo_de_pagamento| %>
  <tr>
    <td><%= metodo_de_pagamento.nome_do_metodo %></td>
    <td><%= metodo_de_pagamento.descricao_do_metodo %></td>
    <td><%= link_to image_tag('icones/Search.png', :title => "Visualizar"), metodo_de_pagamento %></td>
		<td><%= link_to image_tag('icones/Modify.png', :title => "Editar"), edit_metodo_de_pagamento_path(metodo_de_pagamento) %></td>
		<td><%= link_to image_tag('icones/Delete.png', :title => "Deletar"), metodo_de_pagamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="pagination right">

	</div>

</div>

<div class="bendl"></div>
	<div class="bendr"></div>

	</div>

