<%= form_for(@categoria_do_pagamento) do |f| %>
  <% if @categoria_do_pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria_do_pagamento.errors.count, "error") %> prohibited this categoria_do_pagamento from being saved:</h2>

      <ul>
      <% @categoria_do_pagamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_da_categoria %><br />
    <%= f.text_field :nome_da_categoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
