
<% content_for :menu do %>

<% end %>

<% content_for :tabela do %>

<h1>Mu</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Password</th>
  </tr>

<% @user.each do |user| %>
  <tr>
    <td><%= user.nome %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>

<% end %>

