<p id="notice"><%= notice %></p>

<p>
  <b>Nome do metodo:</b>
  <%= @payament_method.nome_do_metodo %>
</p>

<p>
  <b>Descricao do metodo:</b>
  <%= @payament_method.descricao_do_metodo %>
</p>


<%= link_to 'Edit', edit_payament_method_path(@payament_method) %> |
<%= link_to 'Back', payament_methods_path %>
