<%= form_for(@payament) do |f| %>
  <% if @payament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payament.errors.count, "error") %> prohibited this payament from being saved:</h2>

      <ul>
      <% @payament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_do_pagamento %><br />
    <%= f.date_select :data_do_pagamento %>
  </div>
  <div class="field">
    <%= f.label :valor_do_pagamento %><br />
    <%= f.text_field :valor_do_pagamento %>
  </div>
  <div class="field">
    <%= f.label :descricao_do_pagamento %><br />
    <%= f.text_field :descricao_do_pagamento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
