<h1>Listing payaments</h1>

<table>
  <tr>
    <th>Data do pagamento</th>
    <th>Valor do pagamento</th>
    <th>Descricao do pagamento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payaments.each do |payament| %>
  <tr>
    <td><%= payament.data_do_pagamento %></td>
    <td><%= payament.valor_do_pagamento %></td>
    <td><%= payament.descricao_do_pagamento %></td>
    <td><%= link_to 'Show', payament %></td>
    <td><%= link_to 'Edit', edit_payament_path(payament) %></td>
    <td><%= link_to 'Destroy', payament, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payament', new_payament_path %>
