<% content_for :conteudo do %>

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	<h2>Lista de Formas de Recebimentos</h2>
		<div class="tableactions" style="text-align: center">
		<%= link_to image_tag('icones/Add.png', :title => "Cadastrar"), new_recebimento_path %>
		</div>
 </div>

<div class="block_content">

<table cellpadding="0" cellspacing="0" width="100%" class="sortable">

<<<<<<< HEAD
	<div class="tableactions" style="text-align: center">
		<%= link_to image_tag('icones/Add.png', :title => "Cadastrar"), new_forma_de_recebimento_path %>
	</div>

=======
>>>>>>> d6436b18b8642db983bce50edbbb04b28c02c35d
	<tr>
		<th>Nome</th>
		<th>Descrição</th>
	</tr>

<% @forma_de_recebimentos.each do |forma_de_recebimento| %>
  <tr>
    <td><%= forma_de_recebimento.nome_da_forma %></td>
    <td><%= forma_de_recebimento.descricao_da_forma %></td>

		<td><%= link_to image_tag('icones/Search.png', :title => "Visualizar"), forma_de_recebimento %></td>
		<td><%= link_to image_tag('icones/Modify.png', :title => "Editar"), edit_forma_de_recebimento_path(forma_de_recebimento) %></td>
		<td><%= link_to image_tag('icones/Delete.png', :title => "Deletar"), forma_de_recebimento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<div class="pagination right">

</div>


</div>

<div class="bendl"></div>
	<div class="bendr"></div>

	</div>

<% end %>

