<h1>Listing pagamentos</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Descricao</th>
    <th>Tipo</th>
    <th>Metodo</th>
    <th>Categoria</th>
  </tr>

<% @pagamentos.each do |pagamento| %>
  <tr>
    <td><%= pagamento.data_do_pagamento %></td>
    <td><%= pagamento.valor_do_pagamento %></td>
    <td><%= pagamento.tipo_do_pagamento.nome_do_tipo %></td>
    <td><%= pagamento.metodo_de_pagamento.nome_do_metodo %></td>
    <td><%= pagamento.categoria_do_pagamento.nome_da_categoria %></td>
    <td><%= link_to 'Show', pagamento %></td>
    <td><%= link_to 'Edit', edit_pagamento_path(pagamento) %></td>
    <td><%= link_to 'Destroy', pagamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pagamento', new_pagamento_path %>

