

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2>Lista de Contas a Pagar</h2>
		<div class="tableactions" style="text-align: center">
		<%= link_to image_tag('icones/Add.png', :title => "Cadastrar"), new_pagamento_path %>
		</div>
		 </div>

<div class="block_content">
<table cellpadding="0" cellspacing="0" width="100%" class="sortable">



  <tr>
 		<th></th>
    <th>Data</th>
    <th>Valor(R$)</th>
    <th>Descricao</th>
    <th>Tipo</th>
    <th>Método</th>
    <th>Categoria</th>
  </tr>

<% @pagamentos.each do |pagamento| %>
  <tr>
  	<td width="30px"><input type="checkbox" /></td>
    <td><%= pagamento.data_do_pagamento %></td>
    <td><%= pagamento.valor_do_pagamento %></td>
    <td><%= pagamento.descricao_do_pagamento %></td>
    <td><%= pagamento.tipo_do_pagamento.nome_do_tipo %></td>
    <td><%= pagamento.metodo_de_pagamento.nome_do_metodo %></td>
    <td><%= pagamento.categoria_do_pagamento.nome_da_categoria %></td>
   	<td><%= link_to image_tag('icones/Search.png', :title => "Visualizar"), pagamento %></td>
		<td><%= link_to image_tag('icones/Modify.png', :title => "Editar"), edit_pagamento_path(pagamento) %></td>
		<td><%= link_to image_tag('icones/Delete.png', :title => "Deletar"), pagamento, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<div class="pagination right">

</div>


</div>

<div class="bendl"></div>
	<div class="bendr"></div>

	</div>

