<p id="notice"><%= notice %></p>

<h1>Resumo de Pagamentos</h1>

<table>
	<tr>
	  <th>Data</th> <td><%= @pagamento.data_pagamento %></td>
	</tr>
	<tr>
	  <th>Valor</th> <td><%= @pagamento.valor_pagamento %></td>
	</tr>
	<tr>
	  <th>Descrição</th> <td><%= @pagamento.descricao_pagamento%></td>
	</tr>
	<tr>
	  <th>Tipo</th>  <td><%= @pagamento.tipo_de_pagamento.nome_do_tipo %></td>
	</tr>
	<tr>
	  <th>Forma</th> <td><%= @pagamento.forma_de_pagamento.nome_da_forma %></td>
	</tr>
  	<tr>
  	  <th>Categoria</th><td><%= @pagamento.categoria_do_pagamento.nome_da_categoria %></td>
  	</tr>
</table>

<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
<%= link_to 'Back', pagamentos_path %>

