<% content_for :conteudo do %>

<div class="block">

	<div class="block_head">
			<div class="bheadl"></div>
			<div class="bheadr"></div>
			<h2>Resumo do Pagamento</h2>
	</div>

	<div class="block_content">
	
	<%= render :partial => '/shared/messages' %> 
	<p id="notice">

		<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
<tr>
			<th>Data</th>
			<th>Valor</th>
			<th>Descrição</th>
			<th>Tipo</th>
			<th>Método</th>
			<th>Categoria</th>
</tr>
			<td><%= @pagamento.data_do_pagamento %></td>
			<td><%= @pagamento.valor_do_pagamento %></td>
			<td><%= @pagamento.descricao_do_pagamento%></td>
			<td><%= @pagamento.tipo_do_pagamento.nome_do_tipo %></td>
			<td><%= @pagamento.metodo_de_pagamento.nome_do_metodo %></td>
			<td><%= @pagamento.categoria_do_pagamento.nome_da_categoria %></td>
		</table>

		<div class="tableactions">
			<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
			<%= link_to 'Back', pagamentos_path %>
		</div>

		<div class="pagination right">

		</div>

	</div>

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>

<% end %>

