<h1>Listing payament_types</h1>

<table>
  <tr>
    <th>Nome do tipo</th>
    <th>Descricao do tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payament_types.each do |payament_type| %>
  <tr>
    <td><%= payament_type.nome_do_tipo %></td>
    <td><%= payament_type.descricao_do_tipo %></td>
    <td><%= link_to 'Show', payament_type %></td>
    <td><%= link_to 'Edit', edit_payament_type_path(payament_type) %></td>
    <td><%= link_to 'Destroy', payament_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payament type', new_payament_type_path %>
