<p id="notice"><%= notice %></p>

<p>
  <b>Nome do tipo:</b>
  <%= @payament_type.nome_do_tipo %>
</p>

<p>
  <b>Descricao do tipo:</b>
  <%= @payament_type.descricao_do_tipo %>
</p>


<%= link_to 'Edit', edit_payament_type_path(@payament_type) %> |
<%= link_to 'Back', payament_types_path %>
