<% content_for :conteudo do %>

<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
	<h2>Lista de Tipos de Recebimentos</h2>
	</div>

<div class="block_content">
	<table cellpadding="0" cellspacing="0" width="100%" class="sortable">

	<div class="tableactions" style="text-align: center">
	<%= link_to image_tag('icones/Add.png', :title => "Cadastrar"), new_tipo_de_recebimento_path %>
	</div>

		<tr>
			<th>Nome</th>
			<th>Descrição</th>
		</tr>

	<% @tipo_de_recebimentos.each do |tipo_de_recebimento| %>
		<tr>
		  <td><%= tipo_de_recebimento.nome_do_tipo %></td>
		  <td><%= tipo_de_recebimento.descricao_do_tipo %></td>


		<td><%= link_to image_tag('icones/Search.png', :title => "Visualizar"), tipo_de_recebimento %></td>
		<td><%= link_to image_tag('icones/Modify.png', :title => "Editar"), edit_tipo_de_recebimento_path(tipo_de_recebimento) %></td>
		<td><%= link_to image_tag('icones/Delete.png', :title => "Deletar"), tipo_de_recebimento, :confirm => 'Are you sure?', :method => :delete %></td>

		</tr>

	<% end %>
	</table>

	<div class="pagination right">

	</div>

</div>

<div class="bendl"></div>
	<div class="bendr"></div>

	</div>

<% end %>

