<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<%= csrf_meta_tag %>

<head>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults, 'jquery', 'jquery-ui', 'jquery.img.preload', 'jquery.filestyle.mini', 'jquery.wysiwyg', 'jquery.date_input.pack', 'facebox', 'jquery.visualize', 'jquery.visualize.tooltip', 'jquery.select_skin', 'jquery.tablesorter.min', 'ajaxupload', 'jquery.pngfix', 'custom.js', "rails.js"%>
<%= stylesheet_link_tag 'style', 'facebox', 'visualize', 'date_input' %>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	
<title>EQUILIBRIUM</title>
   	
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
	<!--[if lt IE 8]><style type="text/css" media="all">@import url("css/ie.css");</style><![endif]-->
	<!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->

</head>

<body>

<div id="hld"> 

	<div class="wrapper"> <!-- wrapper begins --> 
	
		<div id="header">

				<!-- Início menu ----------------->
				<%= yield :menu %>
				<div class="hdrl"></div>
				<div class="hdrr"></div>

				<h1><a href="#">Equilibrium</a></h1>

				<% if logged_in? -%>
				<ul id="nav"> 
					<li><%= link_to 'Perfil', profile_path  %></li> 
					<li class="active"><a href="#">Recebimentos</a> 
				<ul> 
					<li><%= link_to 'Resumo', recebimentos_path  %></li>
					<li><%= link_to 'Novo Recebimento', new_recebimento_path  %></li>
					<li><%= link_to 'Cadastrar Tipo', tipo_de_recebimentos_path  %></li>
					<li><%= link_to 'Cadastrar Forma', forma_de_recebimentos_path  %></li>
					<li><%= link_to 'Cadastrar Categoria', categoria_do_recebimentos_path  %></li>
				</ul>
				</li>

				<li class="active"><a href="#">Pagamentos</a> 
				<ul>
					<li><%= link_to 'Resumo', pagamentos_path  %></li>
					<li><%= link_to 'Novo Pagamento', new_pagamento_path  %></li>
					<li><%= link_to 'Cadastrar Tipo', tipo_do_pagamentos_path  %></li>
					<li><%= link_to 'Cadastrar Método', metodo_de_pagamentos_path  %></li>
					<li><%= link_to 'Cadastrar Categoria', categoria_do_pagamentos_path  %></li>
				</ul>
				</li>
				<li class="active"><a href="#">Relatórios</a> 
				</ul>
				<p class="user">Seja bem vindo, <a href="#"></a> | <%= link_to 'Logout', logout_path  %>

				<% end %>

				</div>	
				<!-- fim menu ----------------->

	<!-- início formularios ------->
	<%= yield :conteudo -%>
	<!-- fim formularios ---------->     
	
	
	</div> 	<!-- wrapper ends -->

</div>		<!-- #hld ends -->


</body>
</html>
